*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    background-color: aquamarine;
}
.container{
    background-color: aquamarine;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
    height: 100vh;
    
}
h1{
    font-size: 5rem;
    color: rgb(83, 55, 83) ;
}
h2{
    color: rgb(102, 67, 102) ;
}
.titulo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 4rem;
    text-align: center;
    margin: 0 1rem;
}
.btn{
    padding: 10px;
    border: 0;
    border-radius: 3px;
    transition: transform 0.1s ease-in-out;  
    font-weight: 600;
    font-size: 2rem;
    padding: 10px 20px;
    margin-left: 10px;
    max-height: 60px;
}
.btn:hover{
    cursor: pointer;
}
.bg-red{
    background-color: rgb(194, 44, 44);
    color: #fff;
}
.bg-sim{
    background-color: rgb(25, 167, 136);
    color: #fff;
}
.bg-sim:hover{
    background-color: rgb(21, 128, 104);
}
.container-btn{
    margin-top: 4rem;
    height: 50vh;
    display: flex;
}
span{
    font-size: 3rem;
    margin-top: 2rem;
    color: rgb(23, 13, 46) ;
}

@media (max-width: 700px){
    h1{
        font-size: 2.4rem;
        color: rgb(83, 55, 83) ;
    }
    h2{
        margin-top: 1rem;
        font-size: 1rem;
    }
    span{
        font-size: 2.4rem;
    }
    .container-btn{
        margin-top: 4rem; 
    }
}